# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Logs
*.log

# Node / frontend
node_modules/
dist/
build/

# IDE / OS
.vscode/
.idea/
.DS_Store